<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Simulate</label>
        <div class="col-sm-10">
            <input type="checkbox" class="checkbox" ng-model="config.mailer.simulate "/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" ng-model="config.mailer.auth.email "/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="confi.mailer.auth.password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Theme</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="config.mailer.content.theme" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" ng-model="config.mailer.content.template"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Hotels</label>
        <div class="col-sm-10">
            <div class="input-group hotel-input">
                <input type="url" class="form-control" placeholder="Enter URL or ID" ng-model="hotelInput" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addHotel()">Add</button>
                </span>
            </div>
            <br/>
            <div class="input-group hotel-input"
                 ng-repeat="hotel in config.robot.target.hotels">
                <input type="url" class="form-control" value="http://tophotels.ru/main/hotel/{{ hotel }}" readonly />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="removeHotel($index)">Remove</button>
                </span>
            </div>
        </div>
    </div>
</form>